body:not(.body-dashboard){
    font-family: 'Avenir', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    justify-content: center; /* Centreren over de verticale as */
    align-items: center; /* Centreren over de horizontale as */
    overflow-x:hidden;

}


input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="number"], input[type="tel"] {
    background-color: white; /* Background color for the input box */
    border: 2px solid #081540; /* Dark blue border color */
    border-radius: 5px;
    padding: 10px; /* Padding */
    font-size: 16px; /* Font size */
    color: black; /* Text color */
    transition: border-color 0.3s, background-color 0.3s; /* Smooth transition for border and background color */
    box-sizing: border-box;
}

/* Change the border and background color of input elements on hover */
input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="date"]:hover, input[type="number"]:hover, input[type="tel"]:hover {
    border-color: #081540; /* Dark blue border color on hover */
    background-color: rgba(8, 21, 64, 0.1); /* Light blue background color on hover */
}

/* Change the border color of input elements on focus */
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="number"]:focus, input[type="tel"]:focus {
    border-color: #081540; /* Dark blue border color on focus */
    outline: none; /* Remove default outline */
    background-color: rgba(8, 21, 64, 0.2); /* Slightly darker blue background color on focus */
}



/* Reset browser default styles for select elements */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: black;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23D93134" d="M2 5L0 3h4L2 5z"/></svg>'); /* Pijltje toevoegen */
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 10px;
    padding-right: 30px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    position: relative;
    transition: all 0.3s ease;
}

/* Ensure the custom styles are applied even with the default select behavior */
select::-ms-expand {
    display: none; /* Hide the default arrow in IE and Edge */
}

select:focus {
    outline: none;
    border-color: #081540; /* Blue border color on focus */
}


/* Apply custom styles to the options in the select dropdown */
select option {
    background-color: white !important; /* Background color for options */
    color: black !important; /* Text color for options */
}

/* Change the background color of options on hover */
select option:hover {
    background-color: #D93134 !important; /* Red color */
    color: white !important; /* White text color for better contrast */
}

/* Change the background color of selected options */
select option:checked {
    background-color: #081540 !important; /* Blue color */
    color: white !important; /* Text color for better contrast */
}

h1 {
    color:#D93134;
    font: 32px Montserrat, sans-serif;
    margin: 0px 0px 32px;
    font-weight: 600;
    position: relative;
    text-align: center;
    
}


form:not(#login-form) {
    max-width: 700px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('./images/hoogtelijnen-1.png');
    background-size: contain;  /* Zorgt ervoor dat de afbeelding de hele achtergrond vult */
    background-position: center;  /* Plaatst de afbeelding in het midden van de achtergrond */
    background-repeat: repeat;  /* Zorgt ervoor dat de afbeelding niet herhaald wordt */

}

fieldset {
    margin-bottom: 20px;
    border: 1px solid black; 
    padding: 30px; 
    background-color: #f2f2f2; /* Subtiele achtergrondkleur */
}

.fieldset-informative {
    border: 2px solid #081540;
    position: relative;
    margin-bottom: 25px;
    padding: 40px; 
    background-color: #D93134; /* Subtiele achtergrondkleur */
    z-index: 2;
    
}

.fieldset-informative-price {
    border: 2px solid #081540;
    position: relative;
    margin-bottom: 20px;
    padding: 35px; 
    background-color: #A6B1E1;
    z-index: 2;
    
}



fieldset p {
    margin: 10px 0;
    line-height: 1.5;
}

fieldset ul {
    padding-left: 20px;
    list-style-type: disc;
}

fieldset ul li {
    margin: 5px 0;
}

.lesprogramma select {
    border: 3px solid #081540(217, 49, 52, 0.8); /* Thicker border */
}
/* Specifieke hover styling binnen het fieldset */
.lesprogramma select:hover {
    border-color: transparent; /* Remove the initial border */
}


.informative-text {
    font-size: 16px;
    background-color: white; /* Match the footer color */
    padding: 15px;
    padding-top: 0px;
    color: black; /* White text for contrast */
    border-radius: 5px;
    border: 1px solid   #081540; /* Lichtgrijze rand */
}

.informative-text-rooster {
    font-size: 16px;
    background-color:   white; /* Match the footer color */
    padding: 15px;
    padding-top: 0px;
    color: black; /* White text for contrast */
    border-radius: 5px;
    border: 1px solid  black; /* Lichtgrijze rand */
}


.informative-text-rooster h4 {
    color:#D93134;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
    top: 30px;
}



.informative-text h4 {
    color: #D93134;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
    top: 30px;
}

.informative-text p {
    margin-left: 10px; /* Indent the text */
}

.informative-text-rooster p {
    margin-left: 10px; /* Indent the text */
}

.informative-text ul {
    list-style: disc;
    margin-left: 20px; /* Align with headers */
    font-size: 1em; /* Standard font size */
    padding-left: 20px;
    margin-top: 10px;
    color: black; /* Ensure text is white for contrast */
}

.informative-text-rooster ul {
    list-style: disc;
    margin-left: 20px; /* Align with headers */
    font-size: 1em; /* Standard font size */
    padding-left: 20px;
    margin-top: 10px;
    color: black; /* Ensure text is white for contrast */
    font-weight: bold;
}

#gekozenKeuzeModule {
    list-style-type: disc; /* Zorg dat het puntje een disc is */
    list-style-position: inside; /* Zorg dat de bullet binnen de marge blijft */
    margin-left: 8px; /* Ruimte vanaf de linkerkant */
    font-size: 1em;
    padding-left: 20px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
}

.informative-text ul.secondary-list {
    margin-left: 40px; /* Verdere links inspringen voor de tweede opsomming */
    font-size: 0.9em; /* Iets kleiner lettertype voor de tweede opsomming */
    color: black; /* Ensure text is white for contrast */

}

.informative-text-rooster ul.secondary-list {
    margin-left: 40px; /* Verdere links inspringen voor de tweede opsomming */
    font-size: 0.9em; /* Iets kleiner lettertype voor de tweede opsomming */
    color: black; /* Ensure text is white for contrast */
}


#groepAantal{
    color: black;
    font-weight: bold;
    font-size: 1.6em;

}

.overview-section {
    background-color: #081540; /* Match the information section background */
    color: white; /* White text for contrast */
    border: 2px solid white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px; /* Add some margin to separate from the gray background */
}


.overview-section h3, .overview-section h4 {
    color: white; /* Lichtgrijsblauwe kleur die past bij de blauwe achtergrond */
    text-align: center;
    
}


.overview-section p, .overview-section ul {
    color: white; /* Ensure text is white for contrast */
}

.overview-section ul {
    list-style: disc;
    margin-left: 20px; /* Align with headers */
    font-size: 1em; /* Standard font size */
    padding-left: 20px;
    margin-top: 10px;
}

legend:not(.fieldset-informative legend):not(.dashboard-legend) {
    font: 30px Avenir, sans-serif;
    font-weight: 700;
    color: #DC493A;
    background-color: #ffffffd5;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    box-sizing: content-box;
    justify-content: space-between; /* Plaatst elementen gelijkmatig verdeeld */
    display: inline-block;
    flex-direction: row;
    min-width: max-content; 
    white-space: nowrap; 

}


.fieldset-informative legend {
    font-size: 1.6em; /* Grotere tekst voor de titel */
    font-weight: bold; /* Vetgedrukte tekst */
    color: white !important; /* Contrasterende tekstkleur */
    border-radius: 5px; /* Licht afgeronde hoeken voor een subtiele stijl */
    text-align: center;
    position: absolute; /* Absolute positionering */
    top: 0px; /* Plaats de legend boven het fieldset */
    left: 50%;
    transform: translateX(-50%); /* Centreer de tekst horizontaal */
    padding: 5px 10px; /* Voeg wat padding toe om de tekst beter te positioneren */
    z-index: 2; /* Zorg ervoor dat de legend bovenop de fieldset blijft */
    min-width: max-content; 
}

.fieldset-informative-price legend {
    font-size: 1.6em; /* Grotere tekst voor de titel */
    font-weight: bold; /* Vetgedrukte tekst */
    color: #f2f2f2 !important; /* Contrasterende tekstkleur */
    border-radius: 5px; /* Licht afgeronde hoeken voor een subtiele stijl */
    text-align: center;
    position: absolute; /* Absolute positionering */
    top: 0px; /* Plaats de legend boven het fieldset */
    left: 50%;
    transform: translateX(-50%); /* Centreer de tekst horizontaal */
    padding: 5px 10px; /* Voeg wat padding toe om de tekst beter te positioneren */
    z-index: 2; /* Zorg ervoor dat de legend bovenop de fieldset blijft */
}



label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    text-align: left; 
}

input, select, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.foutmelding {
    display: none;
    color:white;
    background-color: #081540;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
}

h3 {
    font: 20px BwNista, -apple-system, BlinkMacSystemFont, sans-serif;
    color: #DC493A;
    margin: 0px 0px 10px;
    font-weight: bold;
}

p {
    margin: 5px 0;
}

/* Stijl voor de "meer informatie" link */

.meerInformatieToggle span {
    text-decoration: none; /* Zorg dat de tekst in de span geen onderstreping krijgt */
}
#meerInformatieToggle {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #0056b3;
    cursor: pointer;
    font-size: 12px;
    margin-top: 5px;
    transition: all 0.3s ease;
}

#meerInformatieToggle:hover {
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
    text-decoration: underline;
}

/* Stijl voor het informatieblok */
/* Stijl voor het informatieblok */
#meerInformatieContent {
    display: none; /* Verborgen bij het laden */
    background-color: #081540; /* Donkerblauw voor consistentie met de footer */
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #e0e0e0; /* Lichtgrijze rand */
    border-radius: 5px; /* Subtiel afgerond zoals andere secties */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Zachte schaduw voor diepte */
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: white; /* Witte tekst voor contrast */
    max-width: 100%;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    max-width: inherit;
}

/* Algemene stijl voor de 'meer informatie' link */
.meerInformatieToggle {
    color: #0056b3;
    text-decoration: none!important;
    font-weight: bold;
    border-bottom: 1px solid #0056b3;
    cursor: pointer;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    transition: all 0.3s ease;
}

.meerInformatieToggle::before,
.meerInformatieToggle::after {
    content: "";
    text-decoration: none !important; /* Zorg ervoor dat er geen onderstreping op pseudo-elementen is */
}

.meerInformatieToggle:hover {
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
    text-decoration: underline;
}

/* Stijl voor het informatieblok */
.meerInformatieContent {
    display: none; /* Verborgen bij het laden */
    background-color: #081540; /* Donkerblauw voor consistentie */
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #e0e0e0; /* Lichtgrijze rand */
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Zachte schaduw */
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: white;
    max-width: 100%;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

/* Stijl wanneer het informatieblok actief is */
.meerInformatieContent.open {
    display: block;
    max-height: 200px; /* Beperkte hoogte als het wordt geopend */
    opacity: 1;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease;
}

/* Eventuele headers in het informatieblok */
.meerInformatieContent h4 {
    color: #DC493A; /* Fel rood zoals in de informative-text */
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

/* Specifieke paragraafstijl voor het informatieblok */
.meerInformatieContent p {
    margin-left: 10px; /* Indent de tekst voor een nette uitlijning */
    color: white; /* Zorg ervoor dat de tekst wit blijft */
    font-size: 1em;
}

/* Opsommingstekenlijst in het informatieblok */
.meerInformatieContent ul {
    list-style: disc;
    margin-left: 20px;
    font-size: 1em;
    padding-left: 20px;
    margin-top: 10px;
    color: white; /* Witte tekst voor goede leesbaarheid */
}

.highlighted-text {
    font-size: 0.9em; /* Vergroot de tekst */
    color: #ff5722;   /* Fel oranje kleur */
}

.overview-section-tijden{
    background-color: #081540; /* Donkerblauwe achtergrond */
    padding: 12px; /* Iets minder padding om het subtieler te maken */
    border-radius: 8px; /* Rondere hoeken voor een zachtere uitstraling */
    margin-top: 5px; /* Minder marge aan de bovenkant */
    border: 3px solid #f0f0f0; /* Zachtere witte rand */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Zachte schaduw voor diepte */
    font-family: 'Avenir', sans-serif; /* Consistent lettertype */
}

.overview-section-tijden p {
    font-size: 16px;
    color: white;
    margin: 0; /* Verwijdert overbodige marge van de paragraaf */
}



#roosterAfbeeldingContainer {
    display: none;
    margin-top: 20px;
    border: 2px solid #ccc;
    padding: 10px;
    max-height: 300px;
    overflow: auto;
    background-color:  #f2f2f2;
    border-radius: 5px;
}

#roosterAfbeelding {
    width: 100%;
    height: auto;
}

#downloadRooster {
    background-color: #D93134; /* Red color matching the screenshot */
    color: white; /* White text */
    border: 2px solid #081540;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
}

#downloadRooster:hover {
    color: #B72829; /* Darker red on hover */
    font-weight: bold;
    background-color: #081540;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.foutmeldingmail {
    display: none;
    color: white;
    background-color:#081540;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    position: relative;
    z-index: 10;
}
#downloadRooster {
    background-color: #D93134; /* Red color matching the screenshot */
    color: white; /* White text */
    border: 2px solid #081540;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
}


h4 .subtitle_h4 {
    display: block;
    font-size: 0.8em;
    font-weight: lighter;
    font-style: italic;
}

.subtitle {
    display: block;
    font-style: italic;
    font-size: 1em;
    color: #555; /* Adjust color as needed */
    margin-top: -3px; /* Adjust to position the subtitle closer to the label */
    margin-bottom: 8px; /* Adjust spacing between the subtitle and the next element */
}

h5{

    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0;
}

.snacks-heading {
    font-size: 1.2em;
    text-align: center;
    margin: 20px 0;
    border: 5px solid #D93134; /* Red border */
    padding: 10px;
    background-color: #081540; /* Light grey background */
    color: white; /* Dark blue text */
}

.subtitle {
    display: block;
    font-size: 0.9em;
    color: #555; /* Adjust color as needed */
    margin-top: -6px; /* Adjust to position the subtitle closer to the label */
    margin-bottom: 8px; /* Adjust spacing between the subtitle and the next element */
}

.snack-option {
    border: 1px solid #ccc; /* Light grey border */
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff; /* White background */
    border-radius: 5px;
}

.snack-option label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.snack-option .subtitle {
    display: block;
    margin-top: -3px;
    font-size: 0.9em;
    font-style: italic;
    color: #777;
}

.snack-option .input-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.snack-option .input-group label {
    margin: 0 10px 0 0;
}

.snack-option .input-group input[type="checkbox"] {
    margin-right: 10px;
}

.snack-option .input-group input[type="number"] {
    width: 60px;
}

.lunch-heading {
    font-size: 1.2em;
    text-align: center;
    margin: 20px 0;
    border: 5px solid #D93134; /* Red border */
    padding: 10px;
    background-color: #081540; /* Light grey background */
    color: white; /* Dark blue text */
}

.lunch-section {
    border: 1px solid #ccc; /* Light grey border */
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff; /* White background */
}

.lunch-option {
    margin-bottom: 10px;
}


input[type="checkbox"] {
    -webkit-appearance: none;  /* Chrome, Safari, Opera */
    -moz-appearance: none;     /* Firefox */
    appearance: none;          /* Standaard specificatie */
    width: 15px;  /* Maak de checkboxes kleiner */
    height: 15px; /* Maak de checkboxes kleiner */
    background-color: white; /* Achtergrondkleur 1 */
    border: 3px solid #D93134;
    border-radius: 5px;  /* Rond de randjes af */
    cursor: pointer;
    margin: 0 5px 0 10px; /* Pas de marges aan zoals nodig */
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #081540; /* Achtergrondkleur wanneer aangevinkt */
    border: 3px solid white;
}

input[type="checkbox"]:checked::after {
    content: "\2714"; /* Unicode-teken voor een vinkje */
    color: white; /* Kleur van het vinkje */
    font-size: 12px; /* Groote van het vinkje */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input[type="number"]:enabled {
    min-width: 80px;
    height: 45px;
}

input[type="number"]:disabled {
    background-color: #f9f9f9; /* Lichte achtergrondkleur */
    border: 2px solid #ddd; /* Lichtgrijze rand */
    color: #aaa; /* Grijze tekstkleur */
}

input[type="number"]:disabled:hover {
    background-color: #f2dede; /* Roodachtige achtergrondkleur bij hover */
    border: 2px solid #ebccd1; /* Roodachtige rand bij hover */
    color: #a94442; /* Rode tekstkleur bij hover */
}

.price-summary-section {
    margin-top: 15px;
}

.price-summary-section h3{
    font-size: 1.5em; /* Grotere lettergrootte */
    color: #D93134;   /* Gebruik dezelfde rode kleur als andere titels */
    margin-bottom: 7px; /* Wat extra ruimte onder de titel */
    text-transform: uppercase; /* Zorg ervoor dat de tekst in hoofdletters verschijnt */
    font-weight: bold; /* Zorg voor een dikke tekst */
}




.price-summary-section .summary-category {
    margin-bottom: 20px;
}




.price-summary-section .summary-category h4 {
    font-size: 1em;
    color: #DC493A;
    margin-bottom: 10px;
    font-weight: bold;
}

.price-summary-section .summary-category .summary-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.price-summary-section .summary-category .summary-item span {
    font-size: 1.1em;
    color: black;
}

.price-summary-section .total-price {
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

#vragenOpmerkingen {
    width: 100%;
    background-color: white;
    border: 2px solid #081540;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: black;
    transition: border-color 0.3s, background-color 0.3s;
    box-sizing: border-box;
    font-family: 'Avenir', sans-serif;
    resize: none; /* Voorkomt dat de gebruiker het formaat van het tekstvak kan wijzigen */
}

#vragenOpmerkingen:hover {
    border-color: #081540;
    background-color: rgba(8, 21, 64, 0.1);
}

#vragenOpmerkingen:focus {
    border-color: #081540;
    outline: none;
    background-color: rgba(8, 21, 64, 0.2);
}

#tekenTeller {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
    text-align: right;
    font-family: 'Avenir', sans-serif;
}

form button#verzendknop {
    font-family: 'DarkForest', sans-serif !important; /* Zorgt ervoor dat het lettertype wordt toegepast */
    font-size: max(30px) !important;
    background-color: #081540 !important; /* Achtergrondkleur */
    color: white !important; /* Tekstkleur rood */
    border-radius: 5px !important;
    cursor: pointer !important;
    display: inline-block !important; /* Houdt de knop in de stroom van het document */
    margin: 20px auto !important; /* Maakt ruimte rond de knop en centreert hem */
    transition: padding 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease !important;
    box-sizing: border-box; /* Zorgt ervoor dat de outline geen invloed heeft op de grootte */
}

form button#verzendknop:hover {
    background-color: #152036c0 !important; /* Blauwe kleur bij hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8) !important; /* Schaduw bij hover */
    outline: none !important; /* Verwijdert de rand bij hover */
}


/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(217, 49, 52, 0.9); /* 90% transparent red color for the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
    border: 2px solid transparent; /* Add some padding around the thumb */
    background-clip: content-box; /* Clip the background of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(177, 42, 42, 0.9); /* 90% transparent darker red when hovering */
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white color for the scrollbar track */
    border-radius: 5px; /* Rounded corners for the scrollbar track */
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(255, 255, 255, 0.7); /* Slightly less transparent white when hovering */
}

::-webkit-scrollbar-button {
    background-color: #D93134; /* Red color for the scrollbar buttons */
    border-radius: 5px; /* Rounded corners for the scrollbar buttons */
}

::-webkit-scrollbar-button:hover {
    background-color: #B12A2A; /* Darker red when hovering */
}

/* Reset the default scrollbar styles */
html {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgba(217, 49, 52, 0.9) rgba(255, 255, 255, 0.5); /* For Firefox */
}

/* For Firefox */
html::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

html::-webkit-scrollbar-thumb {
    background-color: rgba(217, 49, 52, 0.9);
    border-radius: 5px;
}

html::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

html::-webkit-scrollbar-button {
    background-color: #D93134;
    border-radius: 5px;
}

.foute-invoermelding {
    position: absolute;  /* Maakt het mogelijk de foutmelding los van de flow te plaatsen */
    background-color: #081540;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    display: none; /* Verborgen als standaard */
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: max(7px, 0.7vw);
    transition: opacity 0.6s ease;
    left: 0;  /* Plaatsing aan de linkerzijde van het inputveld */
    top: -30px; /* Plaatsing net boven het inputveld, pas dit aan naar behoefte */
    width: 100%;  /* Zelfde breedte als het inputveld */
    text-align: left; /* Zorg dat de tekst netjes uitlijnt */
}

.hover-message{
    position: absolute;  /* Maakt het mogelijk de foutmelding los van de flow te plaatsen */
    background-color: #081540;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    display: none; /* Verborgen als standaard */
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: max(12px, 0.7vw);
    transition: opacity 0.6s ease;
    left: 0;  /* Plaatsing aan de linkerzijde van het inputveld */
    top: -30px; /* Plaatsing net boven het inputveld, pas dit aan naar behoefte */
    width: auto;  /* Zelfde breedte als het inputveld */
    text-align: left; /* Zorg dat de tekst netjes uitlijnt */
}
#contact {
    font-size: 14px;
    color: #333;
    margin-top: 15px;
    text-align: left;
    font-family: Arial, sans-serif;
  }
  
  #contact p {
    margin: 0;
    padding-top: 5px;
    font-size: 14px;
    color: #333;
  }
  
  #contact a {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #0056b3;
    transition: all 0.3s ease;
  }

  
  #contact a:hover {
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
    text-decoration: underline;
  }
  
  .flatpickr-disabled {
    opacity: 0.4;  /* Maak het element wat transparanter */
    pointer-events: none; /* Zorg ervoor dat het element niet aanklikbaar is */
}



/* Stijl voor de login form */
.login-form {
    max-width: 400px; /* Beperk de breedte van het formulier */
    margin: 50px auto; /* Centraal op de pagina */
    background-color: #fff; /* Witte achtergrond voor het formulier */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Zachte schaduw */
}

/* Labels voor inputvelden */
.login-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #081540;
}

/* Inputvelden */
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #081540;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

/* Hover en focus effecten voor inputvelden */
.login-form input[type="email"]:hover,
.login-form input[type="password"]:hover {
    background-color: rgba(8, 21, 64, 0.1); /* Lichte blauwe achtergrond */
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    border-color: #A6B1E1; /* Zachtere blauwe randkleur bij focus */
    background-color: rgba(166, 177, 225, 0.15); /* Lichtere achtergrondkleur bij focus */
    box-shadow: 0 0 8px rgba(166, 177, 225, 0.5); /* Zachte schaduw om het veld */
    outline: none;
    transition: all 0.3s ease; /* Voeg een vloeiende overgang toe voor een zachtere verandering */
}


/* Stijl voor de submit knop */
.login-form .submit-button {
    width: 100%;
    padding: 12px;
    background-color: #081540;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect voor de submit knop */
.login-form .submit-button:hover {
    background-color: #152036c0; /* Iets donkerdere kleur bij hover */
}

.body-dashboard {
    font-family: 'Avenir', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Zorg ervoor dat de body altijd minimaal 100% van de viewport-hoogte inneemt */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    justify-content: center; /* Centreren over de verticale as */
    align-items: center; /* Centreren over de horizontale as */
    font-family: 'Avenir', sans-serif; /* Font voor consistentie */
    min-width: 1200px;
    overflow-x: hidden;
    padding-top: 60px;
    
}

.header-dashboard {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #081540;
    color: white;
    position: fixed;  /* Blijf bovenaan vaststaan */
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    height: 60px; /* Stel de hoogte in */
}

.body-dashboard h1{
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    top: 10px;

    
}

.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-legend {
    font: 30px Avenir, sans-serif;
    font-weight: 700;
    color: #DC493A;
    padding: 5px;
    text-align: center;
    box-sizing: content-box;
    justify-content: space-between; /* Plaatst elementen gelijkmatig verdeeld */
    display: inline-block;
    flex-direction: row;
    white-space: nowrap; 
    width: fit-content;

}





/* Overzicht sectie */
#overview-aanvragen-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 45%;
}

/* Start date input styling */
#start_date {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #081540;
    border-radius: 5px;
}

#content-container {
    flex: 1;
    padding: 20px;
    min-width: 45%;
    padding-bottom: 20px; 
    align-items: left;
    margin-top: 20px;
    display: flex;
    flex-direction: column;


}


#Uitlog_Dashboard {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #D93134;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #081540;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    align-self: flex-end;
    margin-bottom: 20px;
    max-width: 200px;
}

#Uitlog_Dashboard:hover {
    background-color: #B12A2A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


button#submit-date, button#submit-statuses {
    width: 100%;
    background-color: #D93134;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 10px;
    cursor: pointer;
}

#requests-container{
    min-width: 90%;
}


.overview-section-dashboard {
    background-color: #081540;
    border: 2px solid white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    min-width: 60%;
}


.overview-section-dashboard h3 {
    color: white;
    text-align: center;
}


.date-group {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f0f4ff; /* Zeer lichte blauw voor contrast */
    border: 2px solid #081540;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Container voor elke aanvraag */
.request-item.card {
    margin-bottom: 5px;
    padding: 5px;
    background-color:white; /* Witte achtergrond voor de kaarten */
    border: 3px solid #081540; /* Zachte grijze rand voor subtiele scheiding */
    color: #333333; /* Donkere tekstkleur voor leesbaarheid */
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.request-item.container {
    flex-grow:  1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    min-width: 70%;
    align-items: flex-start; /* Uitlijnen naar links */
}

/* Aanpassen van de status sectie */
/* Aanpassen van de status sectie */
.request-item.status-container {
    flex: 0 1 auto; /* Flex eigenschappen aangepast om de breedte flexibel te maken */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Linker uitlijning op de verticale as */
    justify-content: flex-start;
    padding: 15px;
    background-color: #f3f7ff; /* Lichte afwijkende kleur voor achtergrond */
    border-left: 5px solid #081540; /* Scheidingslijn tussen info en status */
    border-radius: 5px;
    overflow: hidden; /* Verberg eventuele overflow */
    box-sizing: border-box; /* Houd rekening met padding en border in de breedte */
}




.request-item.card {
    display: flex;
    justify-content: space-between; /* Plaatst de informatie en status naast elkaar */
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
    background-color: white; /* Witte achtergrond behouden */
    border: 3px solid #081540; /* Donkerblauwe rand voor consistentie */
    color: #333333;
    border-radius: 5px;
    gap: 5px; /* Ruimte tussen informatie en status */
}


.request-item.status-container h4 {
    margin: 0 0 10px 0; /* Verwijder extra marges aan de bovenkant */
    font-size: 1.2em;
    font-weight: bold;
    color: #081540;
    text-align: left; /* Tekst naar links uitlijnen */
    align-self: flex-start; /* Zorgt ervoor dat de titel bovenaan begint */
}


/* Stilering voor de status dropdown */
.request-item.status-container select {
    padding: 3px 3px;
    border-radius: 6px;
    border: 1px solid #cccccc;
    background-color: #f9f9f9;
    color: #333;
    font-size: 1em;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%; /* Zorg dat de dropdown de volledige breedte neemt */
}

/* Stilering voor de schoolinfo */
.request-item.para {
    margin-bottom: 3px;
    font-size: 1em;
    font-weight: bold;
    color: #081540; /* Donkerblauwe tekstkleur voor consistentie */
    padding: 5px;
    background-color:  #fdfdfd;
    border: 2px solid  #081540;
    margin-right: 6px;
    border-radius: 4px;
   
}

.request-item.para:hover {
    background-color: #d0d8e8; /* Lichte tintverandering bij hover */
}



/* Hover- en focusstijlen voor select-elementen */
.request-item.status-container select:hover,
.request-item.status-container select:focus {
    border-color: #081540; /* Donkerblauwe rand bij hover/focus voor consistentie */
    box-shadow: 0 0 5px rgba(8, 21, 64, 0.3); /* Zachte blauwe gloed voor visuele focus */
    outline: none; /* Verwijder de standaard outline voor een schonere look */
}

.overview-section-dashboard h4 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #081540; /* Donkerblauw voor consistentie */
    text-align: center;
}

#date-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

button#submit-date, button#submit-statuses {
    width: 100%;
    background-color: #D93134;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 10px;
    cursor: pointer;
}

button#submit-date:hover, button#submit-statuses:hover {
    background-color: #B12A2A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button#submit-date:hover, button#submit-statuses:hover {
    background-color: #B12A2A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.footer_dashboard {
    background-color: #081540;  /* GeoFort's donkerblauwe kleur */
    color: white;
    min-height: 80px;
    left: -60px;
    position: relative;
    display: flex;
    text-align: center;
    width: 105vw;
    box-sizing: border-box; /* Zorgt ervoor dat de padding binnen de breedte van de footer valt */
    bottom: -50px;
    margin-top: 30px;
    justify-content: center;  /* Centreert de inhoud horizontaal */
    align-items: center;  /* Centreert de inhoud verticaal */
}


#aanvragenInfo{
    max-width: 400px;
    font-size: 1.1em;
}

#aanvrageninoptieInfo{
    max-width: 400px;
    font-size: 1.1em;
}

.main-footer {
    background-color: #081540;  /* GeoFort's donkerblauwe kleur */
    color: white;
    min-height: 80px;
    left: -80px;
    position: relative;
    display: flex;
    text-align: center;
    width: 105vw;
    box-sizing: border-box; /* Zorgt ervoor dat de padding binnen de breedte van de footer valt */
    bottom: -50px;
    margin-top: 30px;
    justify-content: center;  /* Centreert de inhoud horizontaal */
    align-items: center;  /* Centreert de inhoud verticaal */
}



.footer-logo-container {
    display: inline-block;  /* Zorg ervoor dat de container de grootte van de inhoud (het logo) aanneemt */
    position: absolute;
    right: 150px; /* Plaatsing van het logo aan de rechterkant */
    bottom: 20px;
}

.footer-logo {
    width: 85px; /* Pas de grootte van het logo aan */
}



#copy_logo {
    margin: 0;
    text-align: center;
}
